%font-light {
  font-weight: $font-light;
}

%font-bold {
  font-weight: $font-bold;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: $text-default;
  font-family: $font-family;
}

h1, .h1 {
  font-size: 2.4rem;
  @extend %font-bold;
}

h2, .h2 {
  font-size: 1.8rem;
  @extend %font-bold;
}

h3, .h3 {
  font-size: 1.6rem;
  @extend %font-bold;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  min-height: 5rem;
}

.form-control, .form-textarea {
  border: $border;
  border-radius: $border-radius;
  padding: 1.5rem 2rem;
  @include placeholder {
    color: $text-placeholder;
  }
}

.bg-white {
  background-color: $white;
}

.text-green {
  color: $text-green;
}

.text-dark {
  color: $text-dark;
}