html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  color: $text-default;
}

h1, .h1 {
  font-size: 2.4rem;
}

h2, .h2 {
  font-size: 1.8rem;
}

h3, .h3 {
  font-size: 1.6rem;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  min-height: 5rem;
}

.form-control {
  border: $border;
  padding: 1.5rem 2rem;
  border-radius: .4rem;
}

.bg-white {
  background-color: $white;
}