.modal-icon {
  position: absolute;
  left: 50%;
  top: -4rem;
  background: white;
  border-radius: 50%;
  padding: .7rem 0;
  width: 7.5rem;
  height: 7.5rem;
  transform: translateX(-50%);
  text-align: center;
  font-size: 4rem;
  .fa {
    color: $text-green;
  }
}

.modal-dialog {
  padding-top: 5rem;
}

.modal-content {
  border: 0 none;
  border-radius: $border-radius;
  .close {
    font-size: 2rem;
    color: $text-dark;
    opacity: 1;
  }
}

.modal-header,
.modal-footer {
  border: 0 none;
}

.modal-footer {
  justify-content: center;
  padding-bottom: 3rem;
}



.modal__congrats {
  text-align: center;
  .modal-body {
    margin-top: -1.5rem;
    padding: 0 3rem;
  }
  .modal-body__section {
    margin-bottom: 3.5rem;
  }
  .modal-body__section-sm {
    max-width: 40rem;
    margin: 0 auto 3.5rem auto;
  }
  .modal-dialog {
    max-width: 58.5rem;
  }
}

.modal__thanks{
  .modal-dialog {
    max-width: 65rem;
  }
}
.modal-body__section-header {
  margin-bottom: 3.5rem;
}