//Breakpoints
$xlg: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;
$container: 1370px;



//Colors
$white: #fff;
$green-primary: #2da137;
$green-secondary: #2a9533;

//Text Colors
$text-green-header: #29a00a;
$text-default: #787878;
$text-dark: #474747;
$text-dropdown: #6a7377;
$text-placeholder: #a3a3a3;


//Border
$border-primary: #aaaaaa;
$border: .1rem solid $border-primary;