//Breakpoints
$xlg: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;
$container: 1140px;


//Fonts
$font-family: 'Roboto', sans-serif;
$font-icons: 'FontAwesome';
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

//Colors
$white: #fff;
$green-primary: #2da137;
$green-secondary: #2a9533;
$body-bg: #f2f2f2;
$bg-section-yellow: #fffeca;
$bg-section-light: #f4f4f4;

//Text Colors
//$text-green: #29a00a;
$text-green: $green-primary;
$text-default: #787878;
$text-dark: #474747;
$text-dropdown: #6a7377;
$text-placeholder: #a3a3a3;


//Border
$border-primary: #aaaaaa;
$border-radius: .4rem;
$border-width: .1rem;
$border: $border-width solid $border-primary;

//Form
$control-height: 5rem;