{% extends '_layout/default.html' %}
{% set pageTitle = "Subscriptions" %}
{% set pageClass = "page__subscription" %}

{% block content %}
<main>
    <div class="container">
        <section class="section-subscription">
            <header class="section__header">
                <h2 class="section__title text-green lead-h2">Subscribed Packages</h2>
            </header>
            <div class="section__body">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Starter Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Se</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Professional Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Lan massa. Cum sociis natoque</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Classic Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Starter Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Hey there, your colleagues seem to be happy today. By the way your answer is anonymous </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Starter Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Hey there, your colleagues seem to be happy today. By the way your answer is anonymous </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Professional Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Lan massa. Cum sociis natoque</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-subscription">
            <header class="section__header">
                <h2 class="section__title text-green lead-h2">Subscribed Packages</h2>
            </header>
            <div class="section__body">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Starter Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Se</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Professional Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Lan massa. Cum sociis natoque</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Classic Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top card__rounded-top" src="http://via.placeholder.com/270x160" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-info-header">
                                <div class="col-8 text-left"><h3 class="card-title text-green">Starter Pack</h3></div>
                                <div class="col-4 text-right"><p class="text-dark"><strong>&euro;29/month</strong></p></div>
                            </div>
                            <p class="card-text">Hey there, your colleagues seem to be happy today. By the way your answer is anonymous </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}